.center {
  margin: 10rem auto 0 auto;
  max-width: 800px;
  padding: 2vw;

  .spinnercon {
    max-width: 200px;
    margin: 0 auto;
  }
  h1 {
    font-size: 1.4rem;
    color: #ec5990;
    text-align: center;
  }
}
